@use '../features.scss';

.mat-mdc-card {
  background: rgba(255, 255, 255, 0.75);
}

/*
.mat-mdc-tab-group {
  min-height: 500px;
}
*/

#web-application-icon {
  margin: auto;
  width: 160px;
  height: 195px;
  object-fit: none;
}

#google-play-store-qr-code {
  border: 10px solid #007bff;
  border-radius: 5px;
  width: 75%;
  max-width: 250px;
}

:host ::ng-deep .mat-mdc-tab-header {
  display: none !important;
}

.screenshot-image {
  max-height: 550px;
  max-width: 100%;
}

.demo-image {
  max-width: 300px;
}
