@use "../features.scss";

.carousel-inner {
  .carousel-item {
    img {
      width: 100%;
      max-width: 400px;
    }
  }
}

#web-application-icon {
  margin: auto;
  width: 160px;
  height: 195px;
  object-fit: none;
}

#google-play-store-qr-code {
  border: 10px solid #007bff;
  border-radius: 5px;
}
