<div class="feature even">
  <div class="container">
    <div class="grid">
      <h2 class="col-12">
        {{ 'arpi.features.ui.title' | translate }}
      </h2>
    </div>

    <div class="grid">
      <mat-card class="col-12">
        <mat-card-content>
          <div class="grid">
            <div class="col-12 col-md-6">
              <mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex" mat-stretch-tabs>
                @for (tab of tabs; track tab) {
                  <mat-tab class="text-center">
                    <div class="w-100 h-100 text-center">
                      <img
                        [src]="tab.img"
                        class="screenshot-image"
                        [alt]="tab.alt"
                        loading="lazy"
                        (load)="imageLoaded($event)"
                      />
                    </div>
                  </mat-tab>
                }
              </mat-tab-group>
            </div>

            <div class="col-12 col-md-6">
              <p>{{ 'arpi.features.ui.description' | translate }}</p>
              <ul>
                <li>{{ 'arpi.features.ui.feature1' | translate }}</li>
                <li>{{ 'arpi.features.ui.feature2' | translate }}</li>
                <li>{{ 'arpi.features.ui.feature3' | translate }}</li>
                <li>{{ 'arpi.features.ui.feature4' | translate }}</li>
                <li>{{ 'arpi.features.ui.feature5' | translate }}</li>
              </ul>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-12 col-md-6 col-lg-4">
        <mat-card-content class="h-100">
          <h3>{{ 'arpi.features.web.title' | translate }}</h3>
          <div class="text-center">
            <p>{{ 'arpi.features.web.description' | translate }}</p>
            <img
              id="web-application-icon"
              src="assets/icon-256.webp"
              alt="ARPI Web Application"
              class="w-100"
            />
            <p class="text-justify">
              {{ 'arpi.features.simulator.description' | translate }}
              <br />
            </p>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
          <a
            matButton="filled"
            color="primary"
            href="https://docs.arpi-security.info/en/latest/end_users/simulator/"
            target="_blank"
          >
            {{ 'arpi.features.simulator.link' | translate }}
          </a>
          &nbsp;
          <a matButton="filled" color="primary" href="https://app.arpi-security.info/" target="app">
            {{ 'arpi.action.open' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="col-12 col-md-6 col-lg-4">
        <mat-card-content class="h-100">
          <h3>{{ 'arpi.features.android.title' | translate }}</h3>
          <div class="text-center">
            <p>{{ 'arpi.features.android.description' | translate }}</p>
            <img
              id="google-play-store-qr-code"
              class="w-100"
              src="assets/android-qr-code.svg"
              alt="ARPI Android App QR Code"
            />
            <br />
            <a
              href="https://play.google.com/store/apps/details?id=com.arpi.webapplication"
              target="google-play"
            >
              <img
                src="assets/google-play-badge.svg"
                alt="Get it on Google Play"
                class="img-fluid my-2"
              />
            </a>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
          <a
            matButton="filled"
            color="primary"
            href="https://play.google.com/store/apps/details?id=com.arpi.webapplication"
            target="google-play"
          >
            {{ 'arpi.action.open' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="col-12 col-md-12 col-lg-4">
        <mat-card-content class="h-100">
          <div class="text-center">
            <a href="https://demo.arpi-security.info/" target="demo">
              <img src="assets/demo.png" class="demo-image w-100" alt="ARPI Demo" />
            </a>
          </div>
          <p class="text-center">
            {{ 'arpi.features.demo.description' | translate }}
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
          <a
            matButton="filled"
            color="primary"
            href="https://demo.arpi-security.info/"
            target="_blank"
          >
            {{ 'arpi.action.open' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
