<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=OpenSource" alt="Terminals">
    <div class="carousel-caption">
      <h3>Open source</h3>
      <p>Power of open source</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=BuildYourOwn" alt="Screenshot">
    <div class="carousel-caption">
      <h3>Build</h3>
      <p>Build your own home security system</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=Smart" alt="GSM">
    <div class="carousel-caption">
      <h3>Upgrade</h3>
      <p>Make your old security system smart</p>
    </div>
  </ng-template>
</ngb-carousel>