<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=Resistors" alt="Terminals">
    <div class="carousel-caption">
      <h3>15 channel</h3>
      <p>You can control 15 motion,break or opening sensors!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=Screenshot" alt="Screenshot">
    <div class="carousel-caption">
      <h3>Remote access</h3>
      <p>Control your security system from anywhere!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=GSM" alt="GSM">
    <div class="carousel-caption">
      <h3>Notifications</h3>
      <p>Receive notifications in email or SMS!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://via.placeholder.com/1920x800?text=RTC" alt="RTC">
    <div class="carousel-caption">
      <h3>RTC</h3>
      <p>Realtime clock</p>
    </div>
  </ng-template>
</ngb-carousel>