<div>
  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-7 description">
          <h2>User interface</h2>
          <p>Use and configure with an easy to use web application from mobile or desktop.</p>
        </div>
        <div class="col-md-5">
          <ngb-carousel [showNavigationIndicators]="false">
            <ng-template ngbSlide>
              <img src="assets/screenshot-home-01.png" alt="Home normal">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/screenshot-home-02.png" alt="Home alert">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/screenshot-sensor-01.png" alt="Sensors">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/screenshot-menu-01.png" alt="Menu">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  
  <div class="feature odd">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/channels.jpg" alt="Channels">
        </div>
        <div class="col-md-7 description">
          <h2>15 channels</h2>
          <p>You can attach 15 sensor to monitor and alert.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-7 description">
          <h2>RTC</h2>
          <p>You can attach a real-time clock to have a precise time without internet connection.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/rtc.jpg" alt="RTC">
        </div>
      </div>
    </div>
  </div>
  
  <div class="feature odd">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/sim900.jpg" alt="GSM">
        </div>
        <div class="col-md-7 description">
          <h2>GSM</h2>
          <p>You can get notifications in SMS.</p>
        </div>
      </div>
    </div>
  </div>
</div>