<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-7 description">
        <h2>Web UI</h2>
        <p>Use and configure with a easy to use web application.</p>
      </div>
      <div class="col-md-5">
        <img src="https://via.placeholder.com/500x300?text=WEBUI" alt="WEBUI">
      </div>
    </div>
  </div>
</div>

<div class="feature odd">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/channels.jpg" alt="Channels">
      </div>
      <div class="col-md-7 description">
        <h2>15 channels</h2>
        <p>You can attach 15 sensor to monitor and alert.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-7 description">
        <h2>RTC</h2>
        <p>You can attach a real-time clock to have a precise time without internet connection.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/rtc.jpg" alt="RTC">
      </div>
    </div>
  </div>
</div>

<div class="feature odd">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/sim900.jpg" alt="GSM">
      </div>
      <div class="col-md-7 description">
        <h2>GSM</h2>
        <p>You can get notifications in SMS.</p>
      </div>
    </div>
  </div>
</div>