<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/diy3.jpg" alt="Screenshot">
    <div class="carousel-caption">
      <h3>Build</h3>
      <p>Build your own home security system</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/upgrade3.jpg" alt="GSM">
    <div class="carousel-caption">
      <h3>Upgrade</h3>
      <p>Make your old security system smart</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/open-source3.jpg" alt="Terminals">
    <div class="carousel-caption">
      <h3>Open source</h3>
      <p>Power of the community</p>
    </div>
  </ng-template>
</ngb-carousel>