<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/diy3.jpg" alt="Screenshot">
    <div class="carousel-caption">
      <h3>{{ 'arpi.home.build.title' | translate }}</h3>
      <p>{{ 'arpi.home.build.description' | translate }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/upgrade3.jpg" alt="GSM">
    <div class="carousel-caption">
      <h3>{{ 'arpi.home.upgrade.title' | translate }}</h3>
      <p>{{ 'arpi.home.upgrade.description' | translate }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/open-source3.jpg" alt="Terminals">
    <div class="carousel-caption">
      <h3>{{ 'arpi.home.opensource.title' | translate }}</h3>
      <p>{{ 'arpi.home.opensource.description' | translate }}</p>
    </div>
  </ng-template>
</ngb-carousel>