@use '../features.scss' as *;

.technologies {
  .mat-mdc-card-content {
    width: 100%;
    padding: 0px;
  }

  img {
    width: 100%;
    max-width: 100px;
    min-width: 50px;

    margin: 15px;
  }
}
