<div class="modal fade" id="consentDialog" tabindex="-1" role="dialog" aria-labelledby="consentDialogTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consentDialogTitle">{{ 'arpi.consent.title' | translate }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ 'arpi.consent.message' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateConsent('granted')" data-dismiss="modal">{{ 'arpi.consent.grant' | translate }}</button>
                <button type="button" class="btn btn-secondary" (click)="updateConsent('denied')" data-dismiss="modal">{{ 'arpi.consent.deny' | translate }}</button>
            </div>
        </div>
    </div>
</div>
