@import '~@angular/material/theming';

@mixin arpi-features-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .feature.odd {
    background-color: mat-color($primary, lighter);
  }
}
