.features {
  padding: 45px 0px 0px 0px;
  background-color: #FF6C00;
}

.feature {
  padding: 35px;

  .description {
    margin-bottom: 25px;
  }

  img {
    width: 100%;
    margin-bottom: 25px;
  }
}

.feature.odd {
  background-color: #0949D3;
}