<div class="features">
  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-7 description">
          <h2>{{ 'arpi.features.ui.title' | translate }}</h2>
          <p>{{ 'arpi.features.ui.description' | translate }}</p>
        </div>
        <div class="col-md-4">
          <div id="arpi-features-slider"class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/screenshot-home-01.png" alt="Home normal">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-home-02.png" alt="Home alert">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-sensor-01.png" alt="Sensors">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-menu-01.png" alt="Menu">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature odd text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/channels.jpg" alt="Channels">
        </div>
        <div class="col-md-7 description">
          <h2>{{ 'arpi.features.channels.title' | translate }}</h2>
          <p>{{ 'arpi.features.channels.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-7 description">
          <h2>{{ 'arpi.features.rtc.title' | translate }}</h2>
          <p>{{ 'arpi.features.rtc.description' | translate }}</p>
        </div>
        <div class="col-md-5">
          <img src="assets/rtc.jpg" alt="RTC">
        </div>
      </div>
    </div>
  </div>

  <div class="feature odd text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/sim900.jpg" alt="GSM">
        </div>
        <div class="col-md-7 description">
          <h2>{{ 'arpi.features.gsm.title' | translate }}</h2>
          <p>{{ 'arpi.features.gsm.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>