.background {
  padding: 45px 0px 25px 0px;
  background-image: url("/assets/contributors.jpg");
  background-size: cover;
}


.contributors {
	background-color: rgba(256,256,256,0.8);
  padding: 50px;
  
  h2 {
    text-transform: uppercase;
  }
}

.badges {
  margin-top: 20px;
}

.badge-base.LI-profile-badge {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}