.background {
  padding: 45px 0px 25px 0px;
  background-image: url("/assets/contributors.jpg");
  background-size: cover;
}

.contributors, .about, .diy {
  background-color: rgba(256,256,256,0.8);
  margin-bottom: 15px;
  padding: 50px;
  border-radius: 10px;
  
  h2 {
    text-transform: uppercase;
  }
}

.badges {
  margin-top: 20px;
}

.badge-base.LI-profile-badge {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
