<div class="background">
  <div class="container">
    <div class="contributors">
      <h2>{{ 'arpi.about.title' | translate }}</h2>
      <p>{{ 'arpi.about.description' | translate }}</p>
    </div>

    <div class="contributors">
      <div class="row">
        <div class="col-md-6 offset-md-1">
          <p>{{ 'arpi.about.contributors.team' | translate }}</p>
          <iframe src="https://githubbadge.appspot.com/ArPIHomeSecurity?s=1&a=0"
            style="border: 0;height: 142px;width: 200px;overflow: hidden;"
            frameBorder="0">
          </iframe>
        </div>
    
        <div class="col-md-3">
          <p>{{ 'arpi.about.contributors' | translate }}</p>
          <div class="LI-profile-badge" 
            data-version="v1"
            data-size="medium"
            data-locale="en_US"
            data-type="horizontal"
            data-theme="dark"
            data-vanity="gábor-kovács-85159b84">
            <a class="LI-simple-link" href='https://hu.linkedin.com/in/g%C3%A1bor-kov%C3%A1cs-85159b84?trk=profile-badge'>Gábor Kovács</a>
          </div>
        </div>
      </div>
    </div>

    <div class="contributors">
      <h2>{{ 'arpi.about.contributors.title' | translate }}</h2>
      <p>{{ 'arpi.about.contributors.description1' | translate }}</p>
      <p>{{ 'arpi.about.contributors.join' | translate }}
        <a 
           matTooltipPosition="before"
           mat-icon-button
           class="link d-none d-sm-inline"
           href="https://github.com/ArPIHomeSecurity"
           target="_blank">
          ArPIHomeSecurity
        </a>
      </p>
      <p>
        {{ 'arpi.about.contributors.description3' | translate }}
        <a href="https://github.com/ArPIHomeSecurity/arpi_server/issues" target="_blank">
          {{'arpi.about.contributors.issues' | translate}}
        </a>/
        <a href="https://github.com/ArPIHomeSecurity/arpi_webapplication/issues" target="_blank">
          {{'arpi.about.contributors.issues' | translate}}
        </a>!
      </p>
    </div>
  </div>
</div>
