@import '~@angular/material/theming';

@mixin arpi-about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  arpi-about {
    .background {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);
      padding-bottom: 20px;

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat-color($background, background, 0) 0%,
            mat-color($background, background, 1) 100%
          );
        }
      }
    }

    .follow-releases,
    .contribution,
    .contributors {
      background-color: mat-color($background, background, 0.4);
      padding: 20px;

      p {
        padding: 5px;
        text-align: justify;

        a {
          color: mat-color($accent);

          &:hover {
            color: mat-color($accent, darker);
          }
        }
      }
    }

    .contributors {
      img {
        border-color: mat-color($background, background) !important;
      }
    }
  }
}
