.background {
  background: url('/assets/contributors3.jpg') no-repeat center top;
  background-size: cover;
  padding: 45px 0px 25px 0px;
}


.contributors {
	background-color: rgba(256,256,256,0.5);
	padding: 25px;
}
