<div class="versions background">
  <div class="container">
    <div class="grid">
      <mat-card class="col-12">
        <mat-card-header>
          <mat-card-title>{{ 'arpi.versions.hw.title' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'arpi.versions.hw.subtitle' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'arpi.versions.hw.v3_0' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ks-plain-gallery
                [id]="0"
                [images]="images_3_0"
                [config]="galleryConfig"
                (clickImage)="onShow(202, $event, images_3_0)"
              >
              </ks-plain-gallery>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'arpi.versions.hw.v2_0' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ks-plain-gallery
                [id]="0"
                [images]="images_2_0"
                [config]="galleryConfig"
                (clickImage)="onShow(202, $event, images_2_0)"
              >
              </ks-plain-gallery>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'arpi.versions.hw.v0_9' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ks-plain-gallery
                [id]="1"
                [images]="images_0_9"
                [config]="galleryConfig"
                (clickImage)="onShow(202, $event, images_0_9)"
              >
              </ks-plain-gallery>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'arpi.versions.hw.v0_8' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ks-plain-gallery
                [id]="2"
                [images]="images_0_8"
                [config]="galleryConfig"
                (clickImage)="onShow(202, $event, images_0_8)"
              >
              </ks-plain-gallery>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-12">
        <mat-card-header>
          <mat-card-title>{{ 'arpi.versions.sw.title' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'arpi.versions.sw.subtitle' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h4>{{ 'arpi.versions.sw.releases' | translate }}</h4>
          <ul>
            <li>
              <p>
                {{ 'arpi.versions.sw.v1_0_0' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v1.0.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>
                {{ 'arpi.versions.sw.v0_16' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v0.16.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>
                {{ 'arpi.versions.sw.v0_15' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v0.15.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>
                {{ 'arpi.versions.sw.v0_14' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v0.14.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>
                {{ 'arpi.versions.sw.v0_13' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v0.13.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>
                {{ 'arpi.versions.sw.v0_12' | translate }}
                <a
                  href="https://github.com/ArPIHomeSecurity/arpi_management/releases/tag/v0.12.0"
                  target="_blank"
                  ><fa-icon class="download" [icon]="faDownload"></fa-icon
                ></a>
              </p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_11' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_10' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_9' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_7' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_6' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_5' | translate }}</p>
            </li>
            <li>
              <p>{{ 'arpi.versions.sw.v0_4' | translate }}</p>
            </li>
          </ul>

          <h4>{{ 'arpi.versions.sw.plan' | translate }}</h4>
          <ul>
            <li>
              <p>{{ 'arpi.versions.sw.v1_1_0' | translate }}</p>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-12">
        <mat-card-header>
          <mat-card-title>{{ 'arpi.versions.case.title' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'arpi.versions.case.subtitle' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ks-plain-gallery
            [id]="0"
            [images]="images_case_2_0"
            [config]="galleryConfig"
            (clickImage)="onShow(202, $event, images_case_2_0)"
          >
          </ks-plain-gallery>

          <div class="grid videos">
            <div class="col-6">
              <div class="video">
                <iframe
                  src="https://www.youtube.com/embed/Kf-6Tk6CrX4?si=TNpy8enAACvgvk6G"
                  title="YouTube video player"
                  frameborder="0"
                  allow="
                    accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture;
                    web-share;
                  "
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
            <div class="col-6">
              <div class="video">
                <iframe
                  src="https://www.youtube.com/embed/5_mPi1H5lZk?si=PRoj72LfRmD8aFWd"
                  title="YouTube video player"
                  frameborder="0"
                  allow="
                    accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture;
                    web-share;
                  "
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
            <div class="col-6">
              <div class="video">
                <iframe
                  src="https://www.youtube.com/embed/mas0TQkX8iI?si=BeQGG3FwwuUR8Op5"
                  title="YouTube video player"
                  frameborder="0"
                  allow="
                    accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture;
                    web-share;
                  "
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
            <div class="col-6">
              <div class="video">
                <iframe
                  src="https://www.youtube.com/embed/LaZPQanAB60?si=845tbHVCPs26LRQq"
                  title="YouTube video player"
                  frameborder="0"
                  allow="
                    accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture;
                    web-share;
                  "
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>

            <div class="col-12 col-md-4 offset-md-2">
              <a
                mat-raised-button
                color="primary"
                href="assets/arpi_case_base.stl"
                download="arpi_case.stl"
                class="download m-4"
              >
                <fa-icon [icon]="faDownload"></fa-icon>
                {{ 'arpi.versions.case.download_base' | translate }}
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a
                mat-raised-button
                color="primary"
                href="assets/arpi_case_cover.stl"
                download="arpi_case.stl"
                class="download m-4"
              >
                <fa-icon [icon]="faDownload"></fa-icon>
                {{ 'arpi.versions.case.download_cover' | translate }}
              </a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
