<div class="versions text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ 'arpi.versions.title' | translate }}</h2>
        <h3>{{ 'arpi.versions.subtitle' | translate }}</h3>
      </div>
    </div>
    <div class="row">
      <div id="hw-accordion" class="col-12 mb-4">
        <div class="card bg-transparent">
          <div role="button" class="card-header" data-toggle="collapse" data-target="#version-2-0" aria-expanded="true" aria-controls="version-2-0">
            <h4 class="float-left">{{ 'arpi.versions.hw.v2_0' | translate }}</h4>
            <fa-icon [icon]="faDown" class="float-right"></fa-icon>
          </div>
          <div id="version-2-0" class="collapse show" data-parent="#hw-accordion">
            <div class="card-body">
              <ks-plain-gallery
                [id]="0"
                [images]="images_2_0"
                [config]="libConfigPlainGalleryRowSpaceAround"
                (clickImage)="onShow(202, $event, images_2_0)">
              </ks-plain-gallery>
            </div>
          </div>
        </div>

        <div class="card bg-transparent">
          <div role="button" class="card-header" data-toggle="collapse" data-target="#version-0-9" aria-expanded="true" aria-controls="version-0-9">
            <h4 class="float-left">{{ 'arpi.versions.hw.v0_9' | translate }}</h4>
            <fa-icon [icon]="faDown" class="float-right"></fa-icon>
          </div>
          <div id="version-0-9" class="collapse" data-parent="#hw-accordion">
            <div class="card-body">
              <ks-plain-gallery
                [id]="0"
                [images]="images_0_9"
                [config]="libConfigPlainGalleryRowSpaceAround"
                (clickImage)="onShow(202, $event, images_0_9)">
              </ks-plain-gallery>
            </div>
          </div>
        </div>

        <div class="card bg-transparent">
          <div role="button" class="card-header" data-toggle="collapse" data-target="#version-0-8" aria-expanded="true" aria-controls="version-0-8">
            <h4 class="float-left">{{ 'arpi.versions.hw.v0_8' | translate }}</h4>
            <fa-icon [icon]="faDown" class="float-right"></fa-icon>
          </div>
          <div id="version-0-8" class="collapse" data-parent="#hw-accordion">
            <div class="card-body">
              <ks-plain-gallery
                [id]="0"
                [images]="images_0_8"
                [config]="libConfigPlainGalleryRowSpaceAround"
                (clickImage)="onShow(202, $event, images_0_8)">
              </ks-plain-gallery>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>{{ 'arpi.versions.version.title' | translate }}</h2>
        <h3>{{ 'arpi.versions.version.subtitle' | translate }}</h3>
        <ul>
          <li><h3>{{ 'arpi.versions.sw.v0_10' | translate }}</h3></li>
          <li><h3>{{ 'arpi.versions.sw.v0_9' | translate }}</h3></li>
          <li><h3>{{ 'arpi.versions.sw.v0_7' | translate }}</h3></li>
          <li><h3>{{ 'arpi.versions.sw.v0_6' | translate }}</h3></li>
          <li><h3>{{ 'arpi.versions.sw.v0_5' | translate }}</h3></li>
          <li><h3>{{ 'arpi.versions.sw.v0_4' | translate }}</h3></li>
        </ul>
      </div>
    </div>
  </div>
</div>