<div class="footer background">
  <div class="container">
    <div class="grid">
      <div class="col-12 text-center">
        &#169;
        <span class="year" data-testid="footer-year">2016-{{ year }}</span
        >&nbsp;
        <a href="https://github.com/ArPIHomeSecurity" target="_blank" class="col-lg-4">
          ArPIHomeSecurity &nbsp;<fa-icon [icon]="github"></fa-icon>
        </a>
        <br />
        <a routerLink="/terms" class="col-lg-4">
          <fa-icon [icon]="faTerms"></fa-icon> {{ 'arpi.footer.terms' | translate }}
        </a>
        <br />
        <a routerLink="/privacy" class="col-lg-4">
          <fa-icon [icon]="faPrivacy"></fa-icon> {{ 'arpi.footer.privacy' | translate }}
        </a>
        <br />
        <a matButton id="consent-link" class="glow-effect" (click)="openConsentDialog()">
          <fa-icon [icon]="faCookie"></fa-icon> {{ 'arpi.footer.consent' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
