<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="order">
          <h2>{{ 'arpi.order.title' | translate }}</h2>

          <p>{{ 'arpi.order.description' | translate }}</p>
          
          <div class="buy">
            <p class="text-center">
              <a href="https://www.tindie.com/products/gkovacs81/arpi-board/" target="_blank">
                <img src="assets/tindie-logo.png" alt="Tindie" class="tindie">
              </a>
              <br>
            </p>
            <h2 class="text-center">{{ 'arpi.order.external' | translate }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>