.background {
  background: linear-gradient(to left, #0072ff, #00aaff);
}

.documentation {
  padding: 40px 0px;
}

.documentation .header a {
  color: #ffd600;
  text-decoration: underline;
}

.mat-mdc-card {
  background: rgba(255, 255, 255, 0.75);
}
