
.background {
  background-image: url("/assets/message.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.contact {
  padding: 65px 0px 50px 0px;
  border-radius: 10px;

  h2 {
    margin-bottom: 30px;
  }
}

form:invalid>#submit-message {
  pointer-events: none;
}