/* Shared styles for all features components. */
.feature {
  padding: 35px;
  .description { margin-bottom: 25px; }
  .demo img { margin: auto; width: 50%; }
  #google-play-store-qr-code { border: 10px solid #007bff; border-radius: 5px; }
  #web-application-icon { margin: auto; width: 160px; height: 195px; object-fit: none; }
  .card { background-color: rgba(240, 248, 255, 0.26); }
}

.feature.odd {
  background: #00aaff;
  background: -webkit-linear-gradient(to right, #0072ff, #00aaff);
  background: linear-gradient(to right, #0072ff, #00aaff);
}
