<div class="features">
  <div class="feature odd text-light">
    <div class="container">

      <div id="features" class="row mb-3">
        <div class="col-12">
          <h2 class="text-center mt-5">{{ 'arpi.features.general.title' | translate }}</h2>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let feature of generalFeatures">
          <div class="card h-100 border border-primary shadow">
            <div class="card-body">
              <h3 class="card-title">
                <fa-icon [icon]="feature.icon"></fa-icon> {{ feature.title | translate }}
              </h3>
              <p class="card-text">{{ feature.description | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <div id="user-interface" class="row mb-5">
        <div class="col-12 mb-5">
          <h3 class="text-center mt-5">{{ 'arpi.features.ui.title' | translate }}</h3>
          <p class="text-center">{{ 'arpi.features.ui.description' | translate }}</p>
        </div>

        <div class="col-md-6 my-auto">
          <div id="arpi-features-slider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/screenshot-home-01.png" alt="ArPI home security system dashboard - real-time monitoring interface" loading="lazy" class="d-block mx-auto">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-home-02.png" alt="ArPI security system home screen - status overview and controls" loading="lazy" class="d-block mx-auto">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-sensor-01.png" alt="ArPI sensor management interface - configure and monitor security sensors" loading="lazy" class="d-block mx-auto">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-zone-01.png" alt="ArPI zone configuration - security zones and area management" loading="lazy" class="d-block mx-auto">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-menu-01.png" alt="ArPI navigation menu - system settings and configuration options" loading="lazy" class="d-block mx-auto">
              </div>
              <div class="carousel-item">
                <img src="assets/screenshot-area-01.png" alt="ArPI area management - security area configuration and monitoring" loading="lazy" class="d-block mx-auto">
              </div>
            </div>

            <a class="carousel-control-prev" href="#arpi-features-slider" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#arpi-features-slider" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <ul>
            <li>{{ 'arpi.features.ui.feature1' | translate }}</li>
            <li>{{ 'arpi.features.ui.feature2' | translate }}</li>
            <li>{{ 'arpi.features.ui.feature3' | translate }}</li>
            <li>{{ 'arpi.features.ui.feature4' | translate }}</li>
            <li>{{ 'arpi.features.ui.feature5' | translate }}</li>
          </ul>

          <div class="demo">
            <div class="text-center">
              <a href="https://demo.arpi-security.info/" target="demo">
                <img src="assets/demo.png" class="img-fluid my-4" alt="ARPI Demo">
              </a>
            </div>
            <p class="text-center">{{ 'arpi.features.demo.description' | translate }}</p>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 text-center">
          <h3>{{ 'arpi.features.web.title' | translate }}</h3>
          <p>{{ 'arpi.features.web.description' | translate }}</p>
          <a href="https://app.arpi-security.info/" target="app">
            <img id="web-application-icon" src="assets/icon-256.webp" alt="ARPI Web Application" class="img-fluid mb-3" style="width: 400px;">
          </a>
        </div>
        
        <div class="col-md-6 text-center">
          <h3>{{ 'arpi.features.android.title' | translate }}</h3>
          <p>{{ 'arpi.features.android.description' | translate }}</p>
          <div class="text-center my-4">
            <img id="google-play-store-qr-code" src="assets/android-qr-code.svg" alt="ARPI Android App QR Code" class="img-fluid" style="max-width: 200px;">
            <br>
            <a href="https://play.google.com/store/apps/details?id=com.arpi.webapplication" target="google-play">
              <img src="assets/google-play-badge.svg" alt="Get it on Google Play" class="img-fluid my-2" style="width: 200px;">
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div id="board" class="container mb-3">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mt-5">{{ 'arpi.features.board.title' | translate }}</h2>
      </div>
    </div>    
    <div *ngFor="let feature of features; let index=index; let odd=odd; let even=even;"
      [ngClass]="{ 'odd text-light': odd, feature: true}">
      <div *ngIf="odd" class="row">
        <div class="col-md-8 board">
          <ks-plain-gallery 
            [id]=feature.id
            [images]="getImages(feature.title)"
            [config]="galleryConfig"
            (clickImage)="onShow(202, $event, feature.title)">
          </ks-plain-gallery>
        </div>
        <div class="col-md-4 description d-flex">
          <div class="align-self-center">
            <h2>{{ 'arpi.features.' + feature.title + '.title' | translate }}</h2>
            <p class="text-justify">{{ 'arpi.features.' + feature.title + '.description' | translate }}</p>
            <ul *ngIf="feature.properties">
              <li *ngFor="let property of feature.properties">{{ 'arpi.features.' + feature.title + '.' + property | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="even" class="row">
        <div class="col-md-4 description d-flex">
          <div class="align-self-center">
            <h2>{{ 'arpi.features.' + feature.title + '.title' | translate }}</h2>
            <p class="text-justify">{{ 'arpi.features.' + feature.title + '.description' | translate }}</p>
            <ul *ngIf="feature.properties">
              <li *ngFor="let property of feature.properties">{{ 'arpi.features.' + feature.title + '.' + property | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 board">
          <ks-plain-gallery 
            [id]=feature.id
            [images]="getImages(feature.title)"
            [config]="galleryConfig"
            (clickImage)="onShow(202, $event, feature.title)">
          </ks-plain-gallery>
        </div>
      </div>
    </div>
  </div>

  <div id="technologies" class="feature technologies pb-3">
    <div class="container">
      <div class="row title">
        <div class="col-md-12">
          <h2 class="text-center mb-4">{{ 'arpi.features.stack' | translate }}</h2>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let layer of technologies" class="col text-center mb-3">
          <div class="layer border">
            <h3>{{ layer.name | translate }}</h3>
            <div *ngFor="let item of layer.items;let i = index; let last=last">
              <a [attr.href]="item.url" target="_blank"><img [attr.src]="item.image" loading="lazy" [attr.alt]="item.text"></a>
              <hr *ngIf="!last" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
