<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand d-none d-sm-block" href=".">
    <img src="assets/arpi-logo-64.png" />
    <h1>{{ 'arpi.title.long' | translate }}</h1>
  </a>
  <a class="navbar-brand d-sm-none" href=".">
    <img src="assets/arpi-logo-64.png" />
    <h1>{{ 'arpi.title.short' | translate }}</h1>
  </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" (click)="onMenuClicked()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse navbar-collapse': true, 'show': !menuClosed}">
    <ul id="main-menu" class="navbar-nav ml-auto flex-column-reverse flex-md-row-reverse" role="navigation">
      <li class="nav-item">
        <a href="https://arpi-security.readthedocs.io" target="_blank" class="nav-link text-light" (click)="onMenuClose()">DOCS</a>
      </li>

      <li class="nav-item">
        <a href="https://demo.arpi-security.info/" target="_blank" class="nav-link text-light" (click)="onMenuClose()">DEMO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" activeClass="active" href="#order" (click)="onMenuClose()">{{ 'arpi.menu.order' | translate
          }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" activeClass="active" href="#contact" (click)="onMenuClose()">{{ 'arpi.menu.contact' |
          translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" activeClass="active" href="#about" (click)="onMenuClose()">{{ 'arpi.menu.about' |
          translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" activeClass="active" href="#versions" (click)="onMenuClose()">{{ 'arpi.menu.versions' |
          translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" activeClass="active" href="#features" (click)="onMenuClose()">{{ 'arpi.menu.features' |
          translate }}</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{language}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="useLanguage('en')">EN</a>
        <a class="dropdown-item" (click)="useLanguage('hu')">HU</a>
      </div>
    </div>
    <button class="btn btn-primary" type="button" id="shareButton" data-toggle="modal" data-target="#shareDialog">
      <fa-icon [icon]="faShareAlt"></fa-icon>
    </button>
    <a href="https://github.com/ArPIHomeSecurity" target="_blank" class="nav-link text-light" (click)="onMenuClose()">
      <fa-icon [icon]="github"></fa-icon>
    </a>
    <a href="https://arpi-security.slack.com/" target="_blank" class="nav-link text-light" (click)="onMenuClose()">
      <fa-icon [icon]="slack"></fa-icon>
    </a>
    <button #consentButton class="btn nav-link text-light glow-effect" data-toggle="modal" data-target="#consentDialog">
      <fa-icon [icon]="faCookie"></fa-icon>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>

<app-share></app-share>

<app-footer></app-footer>

<app-consent-dialog (onClosed)="onConsentDialogClosed()"></app-consent-dialog>
