<div class="feature board">
  <div class="container">
    <div class="grid">
      <h2 class="col-12">
        {{ 'arpi.features.board.title' | translate }}
      </h2>
    </div>

    <div
      *ngFor="
        let feature of features;
        let index = index;
        let odd = odd;
        let even = even;
        trackBy: trackByFeatureId
      "
      class="grid"
      [ngClass]="{ 'odd text-light': odd, feature: true, even: even }"
    >
      @if (odd) {
        <div class="col-12 col-md-8 board">
          <ks-plain-gallery
            [id]="feature.id"
            [images]="getImages(feature.title)"
            [config]="galleryConfig"
            (clickImage)="onShow(202, $event, feature.title)"
          >
          </ks-plain-gallery>
        </div>
        <div class="col-12 col-md-4 description">
          <h2>{{ 'arpi.features.' + feature.title + '.title' | translate }}</h2>
          <p>{{ 'arpi.features.' + feature.title + '.description' | translate }}</p>
          <ul *ngIf="feature.properties">
            <li *ngFor="let property of feature.properties">
              {{ 'arpi.features.' + feature.title + '.' + property | translate }}
            </li>
          </ul>
        </div>
      }

      @if (even) {
        <div class="col-12 col-md-4 description">
          <h2>{{ 'arpi.features.' + feature.title + '.title' | translate }}</h2>
          <p>{{ 'arpi.features.' + feature.title + '.description' | translate }}</p>
          <ul *ngIf="feature.properties">
            <li *ngFor="let property of feature.properties">
              {{ 'arpi.features.' + feature.title + '.' + property | translate }}
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-8 board">
          <ks-plain-gallery
            [id]="feature.id"
            [images]="getImages(feature.title)"
            [config]="galleryConfig"
            (clickImage)="onShow(202, $event, feature.title)"
          >
          </ks-plain-gallery>
        </div>
      }
    </div>
  </div>
</div>
