<div class="feature odd">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <h2>{{ 'arpi.features.general.title' | translate }}</h2>
      </div>
      <mat-card *ngFor="let feature of generalFeatures" class="h-100 col-12 col-md-6 col-lg-4">
        <mat-card-header>
          <mat-card-title>
            <mat-icon fontSet="material-symbols-outlined" [color]="feature.color" material>{{
              feature.icon
            }}</mat-icon>
            {{ feature.title | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-justify">{{ feature.description | translate }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
