<div class="order background">
  <div class="container">
    <div class="grid">
      <mat-card class="col-12">
        <mat-card-header>
          <mat-card-title>{{ 'arpi.order.title' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ 'arpi.order.description' | translate }}</p>

          <div class="row buy">
            <div class="col-md-12">
              <p class="text-center">
                <a
                  href="https://www.tindie.com/stores/gkovacs81/?ref=offsite_badges&utm_source=sellers_gkovacs81&utm_medium=badges&utm_campaign=badge_large"
                  ><img
                    src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-larges.png"
                    alt="I sell on Tindie"
                    width="200"
                    height="104"
                    loading="lazy"
                /></a>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
