.background {
    background: linear-gradient(to right, #0072ff, #00aaff);
    padding: 35px 0px;
}

.order {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
}

.buy {
    margin-top: 25px;
}