<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="order">
          <h2>{{ 'arpi.order.title' | translate }}</h2>

          <p>{{ 'arpi.order.description' | translate }}</p>
          
          <div class="row buy">
            <div class="col-sm-6">
              <p class="text-center">
                <a href="https://www.tindie.com/stores/gkovacs81/?ref=offsite_badges&utm_source=sellers_gkovacs81&utm_medium=badges&utm_campaign=badge_large"><img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-larges.png" alt="I sell on Tindie" width="200" height="104" loading="lazy"></a>
              </p>
            </div>
            
            <div class="col-sm-6">
              <p class="text-center">
                <a href="https://arpi-security.slack.com/archives/D05V3LZ34M9" target="_blank">
                  <img src="assets/slack_logo.png" alt="Slack" class="img-fluid"/>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>