<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand d-none d-sm-block" href=".">
        <img src="assets/arpi-logo-64.png" />
        <h1>{{ 'arpi.title.long' | translate }}</h1>
    </a>
    <a class="navbar-brand d-sm-none" href=".">
        <img src="assets/arpi-logo-64.png" />
        <h1>{{ 'arpi.title.short' | translate }}</h1>
    </a>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col">

            <h1>Privacy Policy</h1>
            <p>Effective Date: 2024-12-05</p>

            <h2>1. Introduction</h2>
            <p>arpi-security.info ("we", "us", or "our") is committed to protecting your privacy. This Privacy Policy
                explains
                how
                we collect, use, and disclose your personal information when you visit our website <a
                    href="https://www.arpi-security.info/">https://www.arpi-security.info/</a> (the "Site").</p>

            <h2>2. Information We Collect</h2>
            <p>We collect the following information:</p>
            <ul>
                <li><strong>Information You Provide:</strong> When you submit a contact form on our Site, we collect
                    your email
                    address to respond to your inquiry.</li>
                <li><strong>Information Collected Automatically:</strong> We use Google Analytics to collect information
                    about
                    how
                    you use our Site, such as the pages you visit, the links you click, and other information that helps
                    us
                    improve
                    our Site. This information is collected through cookies and similar technologies.</li>
            </ul>

            <h2>3. How We Use Your Information</h2>
            <p>We use the information we collect for the following purposes:</p>
            <ul>
                <li><strong>To respond to your inquiries:</strong> We use your email address to respond to your messages
                    sent
                    through our contact form.</li>
                <li><strong>To improve our Site:</strong> We use the information collected through Google Analytics to
                    analyze
                    trends, administer the Site, track users' movements around the Site, and gather demographic
                    information.
                    This
                    information helps us improve our Site and make it more user-friendly.</li>
            </ul>

            <h2>4. Sharing Your Information</h2>
            <p>We do not share your personal information with third parties, except as described in this Privacy Policy.
                We may
                share your information with:</p>
            <ul>
                <li><strong>Google:</strong> We use Google Analytics to analyze our website traffic. Google's privacy
                    policy can
                    be
                    found at <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.</li>
            </ul>

            <h2>5. Cookies</h2>
            <p>We use cookies to enhance your experience on our Site. Cookies are small text files that are placed on
                your
                computer
                to collect standard internet log information and visitor behavior information. For further information
                visit our
                Cookie Policy.</p>

            <h2>6. Your Rights</h2>
            <p>You have the right to:</p>
            <ul>
                <li><strong>Access your personal data:</strong> You can request a copy of the personal information we
                    hold about
                    you.</li>
                <li><strong>Correct any inaccuracies:</strong> You can ask us to correct any inaccurate or incomplete
                    data we
                    hold
                    about you.</li>
                <li><strong>Erase your data:</strong> You can request that we delete your personal data.</li>
                <li><strong>Object to processing:</strong> You can object to the processing of your personal data.</li>
                <li><strong>Restrict processing:</strong> You can ask us to restrict the processing of your personal
                    data.</li>
                <li><strong>Data portability:</strong> You have the right to data portability, which means that you can
                    request
                    to
                    receive your personal data in a structured, commonly used, and machine-readable format.</li>
            </ul>

            <h2>7. Changes to this Privacy Policy</h2>
            <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by
                posting the
                new
                policy on our Site.</p>

            <h2>8. Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at: <a
                    href="mailto:arpi.sec@gmail.com">arpi.sec@gmail.com</a></p>
        </div>
    </div>
</div>