<div id="arpi-header-slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let isFirst = first" class="carousel-item" [class.active]="isFirst">

      <div *ngIf="displayPlaceholder" style="height: 500px"></div>
      <img [attr.src]="'assets/header_' + slide + '.jpg'" (load)="imageLoaded($event)">

      <div class="carousel-caption">
        <h1>{{ 'arpi.home.' + slide + '.title' | translate }}</h1>
        <h3>{{ 'arpi.home.' + slide + '.description' | translate }}</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#arpi-header-slider" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#arpi-header-slider" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>