@import "@angular/cdk/overlay-prebuilt.css";


.ks-modal-gallery-backdrop {
  background: #000 !important;;
  opacity: 0.85 !important;;
}

.ks-modal-gallery-panel {
  z-index: 90000 !important;
}

/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 56px;
}



.glow-effect {
  /* Renamed for clarity */
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-effect:before {
  /* Renamed for clarity */
  content: '';
  background: linear-gradient(45deg, #ff7300, #f5962a, #fcb769,#002bff, #516cf7, #8598f7);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-effect.active:before {
  /* Added active class for JS control */
  opacity: 1;
}

.glow-effect:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
