.background {
  padding: 45px 0px 25px 0px;
  background-image: url('/assets/contributors.jpg');
  background-size: cover;
}

.about {
  padding: 40px 0px;

  .mat-mdc-card {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.badges {
  margin-top: 20px;
}

.badge-base.LI-profile-badge {
  margin: 0 auto;
  text-align: center;
}
