<div class="preview text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ 'arpi.preview.title' | translate }}</h2>
        <h3>{{ 'arpi.preview.subtitle' | translate }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="border rounded mb-2 col-md-12 text-center">
        <ks-modal-gallery
          [id]="0"
          [modalImages]="images_0_8"
          [plainGalleryConfig]="plainGalleryRow"
          [previewConfig]="{visible: false}"
          [slideConfig]="{infinite: true, sidePreviews: {show: false}}"
          [buttonsConfig]="{visible: true, strategy: 1}"
          [dotsConfig]="{visible: false}">
        </ks-modal-gallery>
        <h4>V0.8</h4>
      </div>
      <div class="border rounded mb-4 col-md-12 text-center">
        <ks-modal-gallery
          [id]="0"
          [modalImages]="images_0_9"
          [plainGalleryConfig]="plainGalleryRow"
          [previewConfig]="{visible: false}"
          [slideConfig]="{infinite: true, sidePreviews: {show: false}}"
          [buttonsConfig]="{visible: true, strategy: 1}"
          [dotsConfig]="{visible: false}">
        </ks-modal-gallery>
        <h4>V0.9</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>{{ 'arpi.preview.version.title' | translate }}</h2>
        <h3>{{ 'arpi.preview.version.subtitle' | translate }}</h3>
        <ul>
          <li><h3>{{ 'arpi.preview.version.v0_9' | translate }}</h3></li>
          <li><h3>{{ 'arpi.preview.version.v0_7' | translate }}</h3></li>
          <li><h3>{{ 'arpi.preview.version.v0_6' | translate }}</h3></li>
          <li><h3>{{ 'arpi.preview.version.v0_5' | translate }}</h3></li>
          <li><h3>{{ 'arpi.preview.version.v0_4' | translate }}</h3></li>
        </ul>
      </div>
    </div>
  </div>
</div>