.background {
  background-image: url('/assets/message.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.contact {
  padding: 40px 0px;

  h2 {
    margin-bottom: 30px;
  }

  .mat-mdc-card {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

form:invalid > #submit-message {
  pointer-events: none;
}
